<p><%= @user.name %>,</p>

<p>Thank you for joining the movement to pay lasting tribute to those who matter to you.</p> 

<p>Some ideas to get you started:</p>

<p>Upload a few photos right away, and affix a few short captions. Some photographs truly are worth a thousand words.</p> 

<p>Start thinking of people who’ve made an impact on you throughout your life. Take a mental or digital note of anyone you come up with, and start reserving time in your schedule to write down their stories.</p> 

<p>Consider writing stories as a daily expression of gratitude for the people around you. It can be part-journal, part-thank-you-note.</p> 

<p>Whenever you or a friend says, “Remember when...,” consider jotting that down to write about later. You’ll never know what other memories they'll trigger.</p> 

<p>Wishing you well,</p>
<p>Team Antho</p>

<p><%= image_tag attachments["Anthologowhite.jpg"].url, :size => "100x100" %></p>
